
html {
  scroll-behavior: smooth;
}

body{
  font-family: "Montserrat";
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900 !important;
  font-size: 2.7rem !important;
  line-height: 1.5 !important;
}
h2{
  font-family: "Montserrat";
  font-size: 3rem !important;
  line-height: 1.5rem;
}
h3{
  font-family: "Montserrat";
  font-size: 2.3rem !important;
  font-weight: 700 !important;
  line-height: 1.5 !important;
}

/* class div */

.container-fluid{
  padding: 4% 15% 7% !important;
}
    /* navbar */
.navbar{
  padding: 0 0 4rem !important;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.2rem !important;

}
.nav-item{
  padding: 0 15px;
}
.nav-link{
  font-size: 1.2rem;
}
.card {
  border-radius: 8px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
							-6px -6px 10px -1px rgba(255,255,255,0.7);
  transform: scale(0.95);
}
.card:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
              inset -4px -4px 6px -1px rgba(255,255,255,0.7),
              -0.5px -0.5px 0px rgba(255,255,255,1),
              -0.5px -0.5px 0px rgba(0,0,0,0.15),
              0px 12px 10px -10px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.01);
  transition: all 0.2s ease-in-out;
  transform: translateY(2px) !important;
}
    /* download buttons */

.download-button{
  margin: 5% 3% 5% 0;
  color: #fff !important;
	border-radius: 8px;
	font-weight: bold;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
							-6px -6px 10px -1px rgba(255,255,255,0.7);
}
.download-button:hover{
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
							inset -4px -4px 6px -1px rgba(255,255,255,0.7),
							-0.5px -0.5px 0px rgba(255,255,255,1),
							-0.5px -0.5px 0px rgba(0,0,0,0.15),
							0px 12px 10px -10px rgba(0,0,0,0.05);
	border: 1px solid rgba(0,0,0,0.01);
  transition: all 0.2s ease-in-out;
	transform: translateY(2px) !important;
  transform: scale(0.90) !important;
}

.iphone-img{
  width: 60%;
  padding-top: 50px;
  position: absolute;
  right: 20%;
  transform: rotate(25deg);
}
.icon{
  color: #fe7b7c;
  font-size: 3rem;
  padding: 5%;
}
.icon:hover{
  color: #ff4c68;
}
.feature-line{
  color: #8f8f8f;
}
.feature-box{
  padding: 5%;
}
.feature-box h3 {
  font-size: 26px !important;
}
.testimonial-img{
  width: 20%;
  border-radius: 100%;
  padding: 20px;
}
.press-img{
  width: 15%;
  margin: 20px 20px 35px;
}
.carousel-item{
  padding: 6% 15%;
}


/* footer */

#footer {
  text-align: center;
  padding: 6% 0 1%;
}
.social-media{
	display: flex;
	justify-content: center;
}
#footer p {
  padding: 10px;
  color: #8f8f8f;
}
.social-media a{
	background: #fff;
	height: 45px;
	width: 45px;
	margin: 0 15px 12px;
	border-radius: 8px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
							-6px -6px 10px -1px rgba(255,255,255,0.7);
	border: 1px solid rgba(0,0,0,0);
	transition: transform 0.5s;
}
.social-media a{
	font-size: 25px !important;
	color: #555;
	transition: transform 0.5s;
}
.social-icon:hover{
	box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
							inset -4px -4px 6px -1px rgba(255,255,255,0.7),
							-0.5px -0.5px 0px rgba(255,255,255,1),
							-0.5px -0.5px 0px rgba(0,0,0,0.15),
							0px 12px 10px -10px rgba(0,0,0,0.05);
	border: 1px solid rgba(0,0,0,0.01);
	transform: translateY(2px);
}
.social-icon:hover i{
	transform: scale(0.90);
}
.social-icon:hover .fa-facebook{
	color: #3b5998;
}
.social-icon:hover .fa-twitter{
	color: #00acee;
}
.social-icon:hover .fa-instagram{
	color: #f14843;
}
.social-icon:hover .fa-envelope{
	color: #f00;
}

/* section div */

#title{
  color: #fff;
  background-color: #ff4c68;
}
#cta {
  color: #fff;
  background-color: #ff4c68;
  text-align: center;
  padding: 0 8%;
}
#cta h3 {
  padding: 4% 15% 0;
  font-family: "Montserrat";
  font-weight: 900 !important;
}

#features{
  background-color: #fff;
  text-align: center;
  padding: 6% 15%;
  position: relative;
}
#testimonials{
  background-color: #fe7b7c;
  text-align: center;
  color: #fff;
}
#press{
  background-color: #fe7b7c;
  padding-bottom: 5%;
  text-align: center;
}


/* pricing section */

#pricing {
  padding: 80px;
  text-align: center;
}
.pricing-col {
  padding: 4% 2%;
}
.card h3 {
  font-weight: lighter !important;
  font-size: 1.8rem !important;
}
#pricing p {
  color: #8f8f8f;
  font-size: 18px;
}
h5 {
  color: #8f8f8f;
}
#pricing h2 {
  font-weight: 900 !important;
}
#pricing .row {
  margin: 0 auto !important;
}
.card-body .download-button {
  color: #555 !important;
}
/* media query */
@media (max-width: 992px) {

  #title {
    text-align: center;
  }
  .iphone-img {
    display: none;
  }
}
@media (min-width: 991px) and (max-width: 768px){
  #features h3 {
    font-size: 30px !important;
  }
  #cta {
    padding: 5%;
}
@media (min-width: 768px) {

  #features h3 {
    font-size: 30px !important;
  }
  #cta {
    padding: 5% !important;
  }
}
